body{
    background-color:rgb(227, 245, 255)
}
form{
    text-align: center;
    margin-top: 200px;
    margin-left: 20%;
    margin-right: 20%;
    height: 270px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
h1{
    color: rgb(64, 113, 247);
    letter-spacing: 2px;
    font-family: sans-serif;
}
input{
    margin-bottom: 15px;
    height: 40px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 10px;
    width: 80%;
    padding-left: 10px;
}
button{
    background-color:rgb(64, 113, 247);
    height: 40px;
    border: 1px solid rgb(64, 113, 247);
    border-radius: 10px;
    width: 82%;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    background-color: rgb(42, 42, 230);
}
